@model Web.ViewModels.Salary.OnlainPaymentFormModel

@{
    ViewData["Title"] = "Calculate";
}

<h1 class="text-success">▪</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InputCalculate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GrossSalary" class="control-label"></label>
                <input asp-for="GrossSalary" class="form-control" />
                <span asp-validation-for="GrossSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
