@model Web.ViewModels.Salary.OnlainPaymentViewModel

@{
    ViewBag.Title = "- - -";
}

<h2 class="text-center mt-2">@ViewBag.Title</h2>
<table class="table">
    <tbody>
        <tr>          
            <th>
                <p class="text-dark text-center ">Gross: @Model.Gross lv ▪ Net: @Model.Net lv</p>
                
            </th>           
        </tr>
    </tbody>
</table>